.container{
  margin:50px;
  display:flex;
  
}
.left{
 flex:2;
}
.right{
 flex:1
}

.imgContainer{
  width:100px;
  height:100px;
  position:relative;
}

.table{
  width:100%;
  border-spacing:20px;

}
.name{
  font-weight: 500;
  font-size: 18px;
  color:red;
}
.total{
  font-weight: 500;
  font-size: 18px;
}

.wrapper{
  /* width:90%; */
  max-height:300px;
  background-color:#333;
  padding:50px;
  padding-top:10px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  color:#fff;

}

.totalTextTitle{
  margin-right:10px;
}

.button{
  height: 30px;
  color: #cb1919;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

.paymentMethods{
  margin-right:10px;
  display: flex;
  flex-direction: column;
}

.payButton{
  padding:10px 5px;
  cursor:pointer;
  margin: 5px 0;
  background-color:#fff;
  color: teal;
  font-weight: bold;

}

@media screen and (max-width:480px){
  .container{
    flex-direction: column;
    padding:20px;
    margin: 0px;
  }
  .table{
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .trTitle{
    display: none;
  }
  .tr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .tr td{
    margin-bottom: 5px;
  }
  .imgContainer{
    width: 35vw;
    height: 35vw;

  }
  .name, .total{
    font-size: 24px;
  }
  .extras, .price, .quantity{
    font-size: 22px;
    font-weight: 300;
  }

  .price::before{
    content: "Price: ";
    font-weight: 500;
  }
  .quantity::before{
    content: "Quantity: ";
    font-weight: 500;
  }
  .total::before{
    content: "Total: ";
    font-weight: 500;
  }

  .wrapper{
    width:100%;

  }
 }
